<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contacts</title>
</head>
<body>
    
    <!-- Контакты. Отображается по шаблону страниц меню -->
    
    <div th:fragment="contacts">  
        <div id="text">
            <h4>Контакты приемной комиссии:</h4>
            <p><b>Адрес:</b>  115409, Москва, Каширское шоссе, 31 (м. Каширская)  </p>
            <p><b>Проезд:</b> от ст. метро "Каширская" (первый вагон из центра): одна остановка автобусами 95, 117, 148, 162, 192, 275, 280, 709, 738, 740, 766, троллейбусами 11, 67, 71 до остановки "МИФИ".
Для прохода в МИФИ необходимо заранее (минимум - за день) заказать пропуск, в которых необходимо указать полностью ФИО и место работы (учебы). Убедительно просим обязательно иметь при себе паспорт.</p>
            <p><b>Электронная почта:</b> <a href="mailto:kaf82@mephi.ru">kaf82@mephi.ru</a></p>
            <h4>Телефоны: </h4>
            <p>(495) 788-56-99 доб. 8348 — контактный телефон кафедры</p>
            <p>(495) 785-55-25 — «горячая линия» абитуриента</p>
            <h4>Карта: </h4>
            <p></p>
            <a><img src="/static/images/proezd.png" onload="pagespeed.CriticalImages.checkImageForCriticality(this);"/></a>
        </div>     
    </div>

</body>
</html>