<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person</title>
</head>
<body>
    
    <!-- Страница меню: данные сотрудника -->
    
    <div th:fragment="person">
        <div id="person-info">
            <img th:src="${'/static/images/photos/' + person.getPhoto()}"
                 th:alt="${person.getName()}"
                 style="height:150px; width: 110px;"
                 onload="pagespeed.CriticalImages.checkImageForCriticality(this);"/>
            <h4 th:text="${person.getName()}" style="text-align: left;">ФИО</h4>
            <div class="person-content">
                <p class="position" th:text="${person.getPosition()}">Должность</p>
                <p class="mail">
                    <a th:href="${'mailto:' + person.getEmail()}" th:text="${person.getEmail()}">Почта</a>
                </p>
            </div>
        </div>
        <div id="tab-container" class="tab-container">
            <ul class='etabs'>
                <li class='tab' th:if="${person.getProfile() != null}">
                    <a href="#Profile">Профиль</a>
                </li>
                <li class='tab' th:if="${person.getCareer() != null}">
                    <a href="#Career">Карьера</a>
                </li>
                <li class='tab' th:if="${person.getEduWork() != null}">
                    <a href="#Educational_work">Обр. работа</a>
                </li>
                <li class='tab' th:if="${person.getSciWork() != null}">
                    <a href="#Scientific_work">Научная работа</a>
                </li>
                <li class='tab' th:if="${person.getPublications() != null}">
                    <a href="#Publications">Публикации</a>
                </li> 
            </ul>       
            <div class='panel-container'>
                <div id="Profile" style=" white-space: pre-wrap;" th:if="${person.getProfile() != null}">
                    <p th:text="${person.getProfile()}">Profile</p>
                </div>
                <div id="Career" style=" white-space: pre-wrap;" th:if="${person.getCareer() != null}">
                    <p th:text="${person.getCareer()}">Carrer</p>
                </div>
                <div id="Educational_work" style=" white-space: pre-wrap;" th:if="${person.getEduWork() != null}">
                    <p th:text="${person.getEduWork()}">Educational_work</p>
                </div>
                <div id="Scientific_work" style=" white-space: pre-wrap;" th:if="${person.getSciWork() != null}">
                    <p th:text="${person.getSciWork()}">Scientific_work</p>
                </div>
                <div id="Publications" style=" white-space: pre-wrap;" th:if="${person.getPublications() != null}">
                    <p th:text="${person.getPublications()}">Publications</p>
                </div>
            </div>
        </div>
    </div>
        
</body>
</html>