<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Science</title>
</head>
<body>
    
    <!-- Страница меню: Научная работа -->
    
    <div th:fragment="science">
        <div id="text">
                <p> Кафедра проводит научно-исследовательские работы в области системной инженерии и управления жизненным циклом сложных систем.</p>  
                <p> Общей целью работ является повышение эффективности деятельности организаций, разрабатывающих сложные технические системы, путем применения подхода системной инженерии.</p>
                <p> Основные этапы проводимых работ по применению подхода системной инженерии приведены ниже:</p>
                <p class="redLine">1. Идентификация заинтересованных сторон и их ранжирование</p>
                <p class="redLine">2. Выбор стратегии УЖЦ или описание имеющейся у организации стратегии</p>
                <p class="redLine">3. Выбор модели ЖЦ</p>
                <p class="redLine">4. Адаптация модели ЖЦ к деятельности организации</p>
                <p class="redLine">5. Закрепление процессов из ISO/IEC 15288 и других стандартов и рекомендаций для реализации выбранных стадий модели ЖЦ</p>
                <p class="redLine">6. Выбор методических и инструментальных средств для реализации процессов</p>
                <p>
 Выполняя перечисленные работы, сотрудники кафедры используют как адаптированные зарубежные методики, так и разработанные внутри коллектива. Это же касается и инструментальных средств: на кафедре имеются самостоятельно разработанные инструменты по поддержке принятия решений при многокритериальном анализе альтернатив и по оценке характеристик системы. Другие инструменты, например по построению архитектур, управлению требованиями и т.п., используются на основе COTS-продуктов.
                </p>
               <h4>Исследовательские проекты</h4>
               <p> Январь 2013 - Февраль 2013 <a href="#">Анализ зарубежного опыта развития инновационных центров</a>
               </p>
               <p> Сентябрь 2012 - Декабрь 2012 <a href="#">Разработка методологии комплексной автоматизированной системы «Разработка технологии – конструирование оборудования – проектирование производства» на основании исходных данных ОАО "ВНИИНМ" (кафедра №82 – соисполнитель, основной исполнитель проекта – кафедра №34 НИЯУ МИФИ)</a>
               </p>
               <p>Ноябрь 2011 - Февраль 2012 <a href="#">Создание информационной модели архитектуры корпоративных и инженерных информационных систем управления процессами проектирования и сооружения АЭС</a>
               </p>
               <h4>Статьи сотрудников</h4>
               <p>Марача В.Г., Данилова В.Л., Кожевников Д.Е. и др. <a href="http://kaf82.mephi.ru/materials/seminarPoInstPodh.zip">Cеминар по институциональному подходу</a>
               </p>
               <h4>Публикации</h4>
               <p>Щедровицкий П.Г. <a href="http://kaf82.mephi.ru/science/publications?id=6 ">Послесловие к книге Гарольда Лоусона "Путешествие по системному ландшафту"</a></p>
               <p>Щедровицкий П.Г. <a href="http://www.itar-tass.com/c95/711889.html">Почему преподаватели не понимают, к чему готовить учащихся?</a></p>
               <p>Реут Д.В. <a href="/materials/Reut_Discipline.pdf">Проектный аспект дисциплины «Управление крупномасштабными системами» </a></p>
               <p>Реут Д.В. <a href="/materials/Reut_Education.pdf">Образование в контексте управления крупномасштабными системами </a> </p>
               <p>Королев А.С., Александров В.С. <a href="/materials/SUIT_2013.pdf">Инструментальная поддержка процесса управления жизненным циклом сложных систем</a></p>
               <p>Королев А.С., Александров В.С., Неретин Ю.А. <a href="/materials/SredstvaPodd.pdf">Средства поддерджки принятия решений при управлении жизненным циклом сложных систем</a></p>
        </div>
    </div>
    
</body>
</html>