<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Videos</title>
</head>
<body>
    
    <!-- Страница меню: Видеоархив -->
    
    <div th:fragment="videos">       
        <dl id="pane">
            <dt>Введение в специальность</dt>
            <dd>
                <p>Лекция Щедровицкого П.Г.
                    <a href="http://www.youtube.com/watch?v=uHDnkWYdWZU">Youtube</a>
                </p>
                <p>Лекция Батоврина В.К. (часть 1)
                    <a href="http://www.youtube.com/watch?v=WAUSpBieNyg">Youtube</a>
                </p>
                <p>Лекция Батоврина В.К. (часть 2)
                    <a href="http://www.youtube.com/watch?v=zuc4PZY0QYg">Youtube</a>
                </p>
                <p>Лекция Левенчука А.И.
                    <a href="http://www.youtube.com/watch?v=AfFKHKFJSrU">Youtube</a>
                </p>
                <p>Лекция Дорофеева К.В. 
                    <a href="http://www.youtube.com/watch?v=_mo9RG41ymE">Youtube</a>
                </p>
                <p>Лекция Шадрина А.Ю. 
                    <a href="http://www.youtube.com/watch?v=qJq5L1pKiOw">Youtube</a>
                </p>
                <p>Лекция Бокарева Б.А. 
                    <a href="http://www.youtube.com/watch?v=wRKgu4FXBh0">Youtube</a>
                </p>
                <p>Лекция Бояркина С.А. 
                    <a href="https://www.youtube.com/watch?v=-J-b-0smIqY">Youtube</a>
                </p>
            </dd>
            <dt>Введение в историю инженерии (Воловик В.В.)</dt>
            <dd>
                <p>Введение в историю инженерии лекция 1 часть 1 
                    <a href="/Video/VvedenieVIstInjenerii/lec1/VVII1-1.mp4">Скачать</a>
                    <a href="http://www.youtube.com/watch?v=6lB7_hn87Ss">Youtube</a>
                </p>
                <p>Введение в историю инженерии лекция 1 часть 2 
                    <a href="/Video/VvedenieVIstInjenerii/lec1/VVII1-2.mp4">Скачать</a>
                    <a href="http://www.youtube.com/watch?v=RxMRhH1T9KY">Youtube</a>
                </p>
                <p>Введение в историю инженерии 
                    <a href="http://www.youtube.com/user/Glazychev">Youtube</a>
                </p>
            </dd>
            <dt>Введение в управление (Сазонов Б.В. и др.)</dt>
            <dd>
                <p>Введение в управление занятие 1 часть 1 
                    <a href="https://www.youtube.com/watch?v=-LqVzbKMNns">Youtube</a>
                </p>
                <p>Введение в управление занятие 1 часть 2 
                    <a href="https://www.youtube.com/watch?v=ShTQHoZIPhU">Youtube</a>
                </p>
            </dd>
            <dt>Экономика (Кузнецов Ю.В.)</dt>
            <dd>
                <p>Занятие 1 (часть 1) 
                    <a href="http://www.youtube.com/watch?v=SR5hpvXjUoY">Youtube</a>
                </p>
                <p>Занятие 1 (часть 2) 
                    <a href="http://www.youtube.com/watch?v=d0OZF83RBJI">Youtube</a>
                </p>
                <p>Занятие 2 
                    <a href="https://www.youtube.com/watch?v=J7uvObJKB3s">Youtube</a>
                </p>
                <p>Занятие 3 
                    <a href="https://www.youtube.com/watch?v=l9SJg4wP-PU">Youtube</a>
                </p>
                <p>Занятие 4 
                    <a href="https://www.youtube.com/watch?v=FYJTLeizxxc">Youtube</a>
                </p>
                <p>Занятие 5 
                    <a href="https://www.youtube.com/watch?v=unShRZRCw1c">Youtube</a>
                </p>
                <p>Занятие 6 
                    <a href="https://www.youtube.com/watch?v=5A4eCNEUm38">Youtube</a>
                </p>
                <p>Занятие 7 
                    <a href="https://www.youtube.com/watch?v=RUtowXGOqrw">Youtube</a>
                </p>
            </dd>
            <dt>Философия (Розин В.М.)</dt>
            <dd>
                <p>Занятие 1 (часть 1) 
                    <a href="http://www.youtube.com/watch?v=iK--Gnn5hxc">Youtube</a>
                </p>
                <p>Занятие 1 (часть 2) 
                    <a href="http://www.youtube.com/watch?v=EE9g6HIM40M">Youtube</a>
                </p>
                <p>Занятие 2 (часть 1) 
                    <a href="http://www.youtube.com/watch?v=DUIjOUGEbbU">Youtube</a>
                </p>
                <p>Занятие 2 (часть 2) 
                    <a href="http://www.youtube.com/watch?v=o1EDhKj__b8">Youtube</a>
                </p>
                <p>Занятие 3 (часть 1) 
                    <a href="http://www.youtube.com/watch?v=UaXlkssqfT8">Youtube</a>
                </p>
                <p>Занятие 3 (часть 2) 
                    <a href="http://www.youtube.com/watch?v=7PyryxfFQtg">Youtube</a>
                </p>
                <p>Занятие 4 (часть 1) 
                    <a href="http://www.youtube.com/watch?v=WCMEVfM__Mg">Youtube</a>
                </p>
                <p>Занятие 4 (часть 2) 
                    <a href="http://www.youtube.com/watch?v=Du-JAEQmyrw">Youtube</a>
                </p>
                <p>Занятие 5 
                    <a href="https://www.youtube.com/watch?v=tLidcGgrAa0">Youtube</a>
                </p>
            </dd>
        </dl>
        <script type="text/javascript" src="/static/js/accordion.v.1.2.js"></script>
        <script type="text/javascript">Accordion(document.getElementById("pane"),{speed:10,});</script>
    </div>
        
</body>
</html>