<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    
    <title th:text="${title}">Заголовок</title>
    
    <div th:replace="fragments/layout/headContent :: head">Head</div>
    
</head>
<body>
    
    <!-- Шаблон для отображения фрагментов (страницы меню и контакты)  -->
    
    <div th:replace="fragments/layout/header :: header">Header</div>
    
    <div th:replace="fragments/layout/menu :: menu">Menu</div>
    
    <div th:if="${contentFragment} != null" id="content">
        <div th:replace="${contentView} :: ${contentFragment}"></div>
    </div>    
    
    <div th:replace="fragments/layout/footer :: footer">Footer</div>
    
</body>
</html>