
.person-list {
    border-radius: 10px 10px 10px 10px;
    background-color: rgb(238, 238, 238);
    display: table;
    padding: 0px;
    margin: 5px 0px;
    width: 650px;
    min-height: 40px;    
    max-height: max-content;    
    
}

.person-list h4 {
    border-style: none;
    font-size: 0.9em;
    font-weight: normal;
    position: relative;
    left: 8px;
    -moz-left: 8px;
    padding-top: 5px;
    margin: 0px;
    border-width: 0px;
    word-wrap:break-word;    
   
}
.person-list h4 a {   
    font-weight: bold;
    text-decoration: none;
    display: block;
    margin: 0px;
    padding: 2px;
    width: 300px;
}
.person-list h4 a:hover {   
    color: rgb(90, 150, 250); 
    
}
.person-list h4 a em {
    font-size: 0.8em;
    font-weight: normal;
    color: rgb(102, 102, 102);
    display: block;
    /*overflow: hidden;*/
   
}


.person-list p {
    display: table-cell;
    vertical-align: middle;
    text-align:right;
  
}
.person-list p a {
    font-weight:bold;
    text-decoration: none;
    padding: 6px;
}

#person-info {
    height: 200px;
width: 650px;
}
#person-info h4 {
    font-size: 1.1em;
    top: -95px;
    left: 150px;
    position: relative;
    width: 360px;
}
#person-info p {
    margin: 2px 0px;
}
#person-info img {
    top: 20px;
    left: 20px;
    position: relative;
    box-shadow: 0px 2px 6px 1px rgb(51, 51, 51);
    border: 1px white solid;
}
#person-info .person-content {
    font-size:0.9em;
    position: relative;
    top: -90px;
    left: 150px;
    width: 350px
}

