<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Menu</title>
</head>
<body>

    <!-- Боковое меню -->
    
    <div th:fragment="menu" id="menu">
        <li><a href="/">Главная страница</a> </li>
        <li><a href="/bakalavr">Программа подготовки бакалавров</a></li>
        <li><a href="/master">Программа подготовки магистров</a></li>
        <li><a href="/science">Научные исследования</a></li>
        <li><a href="/allpersons">Сотрудники кафедры</a></li>
        <li><a href="/UchPlan/courses.xhtml">Работа с учебным планом</a></li>
        <li><a href="/videos">Хранилище видеоматериалов</a></li>
    </div>
    
</body>
</html>